/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {

       // Alignment options
       splitFastq = false
       bwt2_opts_end2end = '--very-sensitive -L 30 --score-min L,-0.6,-0.2 --end-to-end --reorder'
       bwt2_opts_trimmed = '--very-sensitive -L 20 --score-min L,-0.6,-0.2 --end-to-end --reorder'
       min_mapq = 10

       // Digestion Hi-C
       restriction_site = 'A^AGCTT'
       ligation_site = 'AAGCTAGCTT'
       min_restriction_fragment_size = 
       max_restriction_fragment_size = 
       min_insert_size = 
       max_insert_size = 

       // Hi-C Processing
       min_cis_dist = 
       rm_singleton = true
       rm_multi = true
       rm_dup = true

       bins_size = '1000000,500000'

       ice_max_iter = 100
       ice_filer_low_count_perc = 0.02
       ice_filer_high_count_perc =  0
       ice_eps = 0.1

       saveReference = false
       saveAlignedIntermediates = false
}

