/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS ECR Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config to set public AWS ECR images wherever possible
    This improves speed when running on AWS infrastructure.
    Use this as an example template when using your own private registry.
----------------------------------------------------------------------------------------
*/

docker.registry      = 'public.ecr.aws'
podman.registry      = 'public.ecr.aws'
singularity.registry = 'public.ecr.aws'

process {
    withName: 'BOWTIE2_ALIGN' {
        container = 'quay.io/biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0'
    }
    withName: 'BOWTIE2_ALIGN_TRIMMED' {
        container = 'quay.io/biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0'
    }
    withName: 'BUILD_CONTACT_MAPS' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
    withName: 'COMBINE_MATES' {
        container = 'quay.io/biocontainers/mulled-v2-c6ff206325681cbb9c9ef890bb8de554172c0483:713df51cd897ceb893b9a6e6420f527d83c2ed95-0'
    }
    withName: 'COOLTOOLS_EIGSCIS' {
        container = 'quay.io/biocontainers/mulled-v2-c81d8d6b6acf4714ffaae1a274527a41958443f6:cc7ea58b8cefc76bed985dcfe261cb276ed9e0cf-0'
    }
    withName: 'GET_RESTRICTION_FRAGMENTS' {
        container = 'quay.io/biocontainers/mulled-v2-c6ff206325681cbb9c9ef890bb8de554172c0483:713df51cd897ceb893b9a6e6420f527d83c2ed95-0'
    }
    withName: 'GET_VALID_INTERACTION' {
        container = 'quay.io/biocontainers/mulled-v2-c6ff206325681cbb9c9ef890bb8de554172c0483:713df51cd897ceb893b9a6e6420f527d83c2ed95-0'
    }
    withName: 'GET_VALID_INTERACTION_DNASE' {
        container = 'quay.io/biocontainers/mulled-v2-c6ff206325681cbb9c9ef890bb8de554172c0483:713df51cd897ceb893b9a6e6420f527d83c2ed95-0'
    }
    withName: 'ICE_NORMALIZATION' {
        container = 'quay.io/biocontainers/mulled-v2-c6ff206325681cbb9c9ef890bb8de554172c0483:713df51cd897ceb893b9a6e6420f527d83c2ed95-0'
    }
    withName: 'MERGE_STATS' {
        container = 'quay.io/biocontainers/mulled-v2-c6ff206325681cbb9c9ef890bb8de554172c0483:713df51cd897ceb893b9a6e6420f527d83c2ed95-0'
    }
    withName: 'MERGE_VALID_INTERACTION' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
    withName: 'SAMPLESHEET_CHECK' {
        container = 'quay.io/biocontainers/python:3.8.3'
    }
    withName: 'SPLIT_COOLER_DUMP' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
    withName: 'TRIM_READS' {
        container = 'quay.io/nf-core/ubuntu:20.04'
    }
}
