/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/hic -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Hi-C test data from Schalbetter et al. (2017)'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 4.GB
    max_time = 1.h

    // Input data
    input = "${baseDir}/assets/samplesheet.csv"

    // Annotations
    fasta = 'https://github.com/nf-core/test-datasets/raw/hic/reference/W303_SGD_2015_JRIU00000000.fsa'
    digestion = 'hindiii'
    min_mapq = 10
    min_restriction_fragment_size = 100
    max_restriction_fragment_size = 100000
    min_insert_size = 100
    max_insert_size = 600

    bin_size = '2000,1000'
    res_dist_decay = '1000'
    res_tads = '1000'
    tads_caller = 'insulation,hicexplorer'
    res_compartments = '2000'

    // Ignore `--input` as otherwise the parameter validation will throw an error
    schema_ignore_params = 'genomes,digest,input_paths,input'
}
