/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/hic -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name = 'Hi-C test data from Schalbetter et al. (2017)'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = "${baseDir}/assets/samplesheet.csv"

    // Annotations
    fasta = 'https://github.com/nf-core/test-datasets/raw/hic/reference/W303_SGD_2015_JRIU00000000.fsa'
    digestion = 'hindiii'
    min_mapq = 10

    // Parameters
    bin_size = '2000,1000,10000'
    res_dist_decay = '1000'
    res_tads = '1000'
    res_loops = '10000'
    tads_caller = 'insulation,hicexplorer'
    res_compartments = '2000'
    peakinteractionsthreshold = 2
    pvaluepreselection = 0.5
    pvalue = 0.5
}
