/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/hic -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Input data for full size test
  input_paths = [
    ['SRR4292758_00', ['https://github.com/nf-core/test-datasets/raw/hic/data/SRR4292758_00_R1.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/hic/data/SRR4292758_00_R2.fastq.gz']]
   ]

  // Annotations
  fasta = 'https://github.com/nf-core/test-datasets/raw/hic/reference/W303_SGD_2015_JRIU00000000.fsa'
  digestion = 'hindiii'
  min_mapq = 10
  min_restriction_fragment_size = 100
  max_restriction_fragment_size = 100000
  min_insert_size = 100
  max_insert_size = 600

  bin_size = '1000'
  res_dist_decay = '1000'
  res_tads = '1000'
  tads_caller = 'insulation,hicexplorer'
  res_compartments = '1000'
  
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,digest,input_paths,input'
}
